:root {
    --text-Primary: #c5c5c5;
    --background-Primary: #242424;
    --background-Secondary: #1c1c1c;
    --background-Tertiary: #464646;
    --maintheme-Primary: #0add11;
    --maintheme-Secondary: #07a30c;
    --maintheme-Tertiary: #09c30f;
}

.MagPPSettings {
    background-color: #464646;
    width: 50%;
    height: 75%;
    margin: auto;
    width: 60%;
    padding: 10px;
    position:relative;
    z-index: 1000;
  }
  

/* #0058a1 hw */

body {
    background-color:var(--background-Primary)!important;
    color:var(--text-Primary)!important;
}

.sm-grid.k-grid .k-grid-content tr {
    background-color:var(--background-Primary)!important;
}

.endlink {
    background-color: var(--background-Secondary)!important;
}

.grade-widget ul {
    background-color:var(--background-Primary)!important;
}

div.loading-overlay {
    background-color:var(--background-Primary)!important;
}

.menu a, .menu a span {
    color: #fff !important;
}

.agenda-text-icon.outline {
    background-color: var(--maintheme-Secondary) !important;
}

.k-calendar .k-header , .k-content, thead th, .widget li {
    background-color: var(--background-Secondary) !important;
    color: var(--text-Primary) !important;
}

.k-calendar td.range-select.last ,td.range-select:last-child, td.range-select.first, td.range-select:first-child {
    border: none !important;
}

.k-calendar .k-content a, li a, .no-data a[class=ng-binding]{
    color: var(--text-Primary) !important;
}

.k-calendar td.range-select[role=gridcell] {
    background-color: var(--background-Tertiary) !important;
    border-top: 1px solid var(--background-Primary) !important;
    border-bottom: 1px solid var(--background-Primary) !important;
}

.menu-host, .appbar>div>a {
    background-color:var(--maintheme-Primary) !important;
}

.main-menu>li.active>a, .appbar-host {
    background-color: var(--maintheme-Secondary) !important;
}

.menu-footer, .main-menu>li>a:hover {
    background-color: var(--maintheme-Tertiary) !important;
}

.block h3, .head-bar div>a>i {
    color: var(--maintheme-Primary) !important;
}

.head-bar {
    color: var(--maintheme-Tertiary) !important;
}

.sm-grid.k-grid .k-grid-content .k-grouping-row .k-i-collapse,
.head-bar .foldout, .k-multiselect-wrap, 
#studiewijzer-container div.studiewijzer-list div.head, #studiewijzer-container div.studiewijzer-list>ul>li {
    background:var(--background-Secondary)!important;
    color: var(--text-Primary) !important;
}

table.table-grid-layout tr, td,  .k-dropdown .k-dropdown-wrap.k-state-default, table.table-grid-layout td a, 
form .radio input[type="radio"]:checked ~ label, form .radio input[type="radio"] ~ label, 
.rest-column, .first-column ,.column-container h3, .bronnen-quota-label,
#studiewijzer-detail-container .coloring-blauw>div, #studiewijzer-detail-container .coloring-blauw>ul,
body body .nieuw-bericht-container[_ngcontent-uvo-c68]{
    background:var(--background-Primary)!important;
    color: var(--text-Primary) !important;
}

.block , .block .content, form {
    background-color: var(--background-Secondary)!important;
}

dl.list-dl {
    background-color: var(--background-Primary) !important;
}

dl.list-dl dd, dt {
    color:var(--text-Primary)!important;
}

span, label {
    color:var(--text-Primary)!important;
    z-index: 200;
}